<!DOCTYPE html>
<html>
  {% load static %}

  <head>
    <title>Главная сраница</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    {% for item in items %}
      <ul>
        <li>
          Название товара: {{ item.name }}
        </li>
        <li>
          Описание товара: {{ item.description }}
        </li>
        <li>
          Цена: {{ item.get_display_price }} $
        </li>
        <a href="{% url 'store:item-page' item.id %}">Посмотреть подробное описание и купить </a> 
      </ul>  
      {% if not forloop.last %}<hr>{% endif %}
    {% endfor %} 
  </body>