<!DOCTYPE html>
<html>
  {% load static %}

  <head>
    <title>Страница покупки</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <section>
      <div class="item">
        <div class="description">
          <h3>{{item.name}}</h3>
          Описание товара: {{ item.description }}
          <h5>${{item.get_display_price}}</h5>
        </div>
      </div>
      <form action={% url 'store:create-checkout-session' item.id %} method="GET">
        <button type="submit" id="checkout-button">Buy</button>
        {% csrf_token %}
      </form>
    </section>
  </body>